*{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #9BC1BC
}

h1 {
	position: relative;
	margin-left: auto;
	margin-top: 2%;
}
table {
	position: relative;
	margin: auto;
}

td {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    background-color: #E6EBE0;
    font-size: 40px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

td:hover {
	background-color: #B7D39E;
}

#bandaidOnBulletWound {
	width: 70%;
	height: 50%;
	background-color: #D5DE8B;
	z-index: 2;
	display: none;
	position: fixed;
	top:0;
	font-size: 50px;
	padding-top: 15%;
}

button {
	background-color: #ED6A5A;
	width: 200px;
	height: 40px;

	font-size: 22px;
	font-weight: bold;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	float: center;
	position: relative;
	margin: auto;
	display: block;
/*	margin-left: 15%*/
}

::-webkit-input-placeholder {
	color:gray;
	font-size: 20px;
	padding: 0px;
}

#player_info1 {	
	float: left;
	display: block;
	font-size: 20px;
	position: relative;
	border: ridge;
	margin-left: 27.5%;
	margin-top: 5px;
}

#player_info2 {
	margin: auto;
	float: left;
	display: block;
	font-size: 20px;
	position: relative;
	border: ridge;
	margin-left: 20px;
	margin-top: 5px;
}

input {
	height: 60px;
	width: 300px;
	padding: 0px;
	font-size: 20px;
	font-style: bold;
}

input[type="text"]:active, input[type="text"]:focus {
	border: 2px solid blue;
}

#play_1_score {
	background-color: #8D6B72;
}

#play_2_score {
	background-color: #8D6B72;
}

#clear {
	position: fixed;
	top: 40%;
	right: 2.5%;
	float: left;
	height: 20%;
	width: 25%;
	display:none;
}
